<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"

         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload ="true">
  <variable name="logDirectory" value="${basedir}/logs/${shortdate}" />
  <targets async ="true">
    <target name="console" xsi:type="ColoredConsole"
     layout="${date:format=HH\:mm\: ss}|${level}|${message}" />
    
    <target name="file" xsi:type="File" fileName="${logDirectory}/TBL_Logs.txt"
     layout="${stacktrace} ${callsite} ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,file" />
    <logger name="*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>